.full-width {
  width: 100%;
}
.cancel {
    color: #2BA6FF;
    padding: 15px !important;
    float: left;
}
.save {
    color: #2BA6FF;
    float: right;
    padding: 15px;
}
h3 {
    cursor: pointer;
    color: #000;
    margin-top: 0px;
    padding: 10px;
}
h3 > mat-icon {
    transform: rotate(90deg);
    float:left;
    margin-right: 10px;
}

mat-icon {
    margin-right: 10px; 
}

.btn-save {
    background:  #00DCC0;
    color: #fff;
}

.btn-delete {
    background: #D1404A;
    color: #fff;
}

.half-width {
  width: calc(50% - 3px);
}

.bottom {
    position: absolute;
    bottom: 30px;
    width: calc(100% - 40px);
}


form {
    padding: 0 20px;
    margin-top: 20px; 
}

form /deep/ .mat-focused .mat-input-placeholder {
    color: #2BA6FF;
}

form /deep/ .mat-focused mat-icon {
    color: #2BA6FF;
}

form /deep/ .mat-focused .mat-input-ripple {
    background-color:rgba(17,85,206,0.2);
}